// Brand Colors
$hrs-blue: #4e6da8
$hrs-blue-light: #909ec8
$hrs-blue-invert: #fff
$hrs-tan: #c6b69f


// Override Bulma defaults

$blue: $hrs-blue
$yellow: #FFDB00
$red: #ff3860

$black:        hsl(0, 0%, 4%)
$black-bis:    hsl(0, 0%, 7%)
$black-ter:    #24262E

$grey-darker:  #3A3D48
$grey-dark:    #565a6b
$grey:         #676b7d //#727786 #9599A5
$grey-light:   #9599A5 //#5e6375 #9c9ebd #9599A5
$grey-lighter: #bec0d4
$white-ter:    #efeff6
$white-bis:    #F9FAFB

$primary: $blue
$primary-invert: $hrs-blue-invert
$light: $white-ter
$link: $blue
$info: $hrs-tan
$info-invert: $grey-darker

$body-color: $grey
$body-background-color: $grey-darker
$footer-background-color: $grey-darker

.has-blue-gradient-background
  +gradient($hrs-blue-light, $hrs-blue, 0deg)

.has-white-top-right-blue-bottom-left-gradient-background
  +gradient(#fff, $hrs-blue-light, 160deg, 50%)

.has-blue-gradient-info-stripe-background
  background-image: -webkit-linear-gradient(90deg, #ffffff00 49%, $info 49%, $info 51%, #ffffff00 51%), -webkit-linear-gradient(0deg, #909ec8 0%, #4e6da8 100%)
  background-image: -o-linear-gradient(90deg, #ffffff00 49%, $info 49%, $info 51%, #ffffff00 51%), -o-linear-gradient(0deg, #909ec8 0%, #4e6da8 100%)
  background-image: linear-gradient(90deg, #ffffff00 49%, $info 49%, $info 51%, #ffffff00 51%), linear-gradient(0deg, #909ec8 0%, #4e6da8 100%)
  background-repeat: repeat-x

.has-blue-gradient-primary-stripe-background
  background-image: -webkit-linear-gradient(90deg, #ffffff00 49%, $primary 49%, $primary 51%, #ffffff00 51%), -webkit-linear-gradient(0deg, #909ec8 0%, #4e6da8 100%)
  background-image: -o-linear-gradient(90deg, #ffffff00 49%, $primary 49%, $primary 51%, #ffffff00 51%), -o-linear-gradient(0deg, #909ec8 0%, #4e6da8 100%)
  background-image: linear-gradient(90deg, #ffffff00 49%, $primary 49%, $primary 51%, #ffffff00 51%), linear-gradient(0deg, #909ec8 0%, #4e6da8 100%)
  background-repeat: repeat-x

.has-background-primary-light
  background-color: $hrs-blue-light !important

.has-text-primary-light
  color: $hrs-blue-light !important
