.testimonials
  .image
    height: 128px
    width: 128px

  .quote
    font-family: 'Crimson-Text', serif
    font-style: italic
    position: relative
    margin-bottom: 20px
    text-align: left
    z-index: 0
    &::before
      color: $white-ter
      content: '\201C'
      font-family: 'Catamaran'
      font-style: normal
      font-size: 8rem
      left: -3rem
      position: absolute
      top: -3rem
      z-index: -1
    +mobile
      &::before
        content: ''
